<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 设置全局日志级别为 INFO -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- 为 ClickHouse 相关日志单独设置日志级别 -->
    <logger name="ru.yandex.clickhouse" level="info" />
</configuration>